<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ailernx.godotplugin.godotgoogle">

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.GodotGoogle"
            android:value="com.ailernx.godotplugin.godotgoogle.GodotGoogle" />
    </application>

</manifest>